<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Input</title>
	<script type="text/javascript" src="../script/angular-1.3.0.js"></script>
</head>
<body>
	<h2>验证实例</h2>
	<form ng-app="MyApp" ng-controller="MyCtrl" name="myForm" novalidate>
		<p>用户名:<br>
		<input type="text" name="user" ng-model="user" required>
		<span style="color: red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
		<span ng-show="myForm.user.$error.required">用户名是必须的.</span>
		</span>
		</p>

		<p>邮箱:<br>
		<input type="email" name="email" ng-model="email" required>
		<span style="color: red" ng-show="myForm.email.$dirty && myForm.email.$invalid">邮箱是必须的.</span>
		<span ng-show="myForm.email.$error.eamil">非法的邮箱地址</span>
		</p>

		<p>
			<input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.eamil.$dirty && myForm.eamil.$invalid">
		</p>
	</form>
	<script type="text/javascript">
		var myApp = angular.module('MyApp', []);
		myApp.controller("MyCtrl",function($scope){
			$scope.user = "jack json",
			$scope.email = "1113968807@qq.com"
		})
	</script>
</body>
</html>